<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Team Form</title>
</head>
<body>
    <div id="content" class="container">
        <div class="row">
         <div class="col">
            <h2>Cadastro do Time</h2>
         </div>
         <div class="col">
            <h2>Lista de Alunos</h2>
             <div class="row">
                 <div class="col-md-12">

                     <select class="mdb-select colorful-select dropdown-primary md-form" multiple searchable="Search here..">
                         <option value="" disabled selected>Choose your country</option>
                         <option value="1">USA</option>
                         <option value="2">Germany</option>
                         <option value="3">France</option>
                         <option value="4">Poland</option>
                         <option value="5">Japan</option>
                     </select>
                     <label class="mdb-main-label">Label example</label>
                     <button class="btn-save btn btn-primary btn-sm">Save</button>

                 </div>
             </div>
         </div>
        </div>
    </div>
</body>
</html>