<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Team Form</title>
</head>
<body>
    <div id="content" class="container">
        <div class="row">
         <div class="col">
            <h2>Cadastro do Time</h2>
             <label>ID: </label><label><input disabled="true" th:value="${team.getTeamId()}"></label>
             <button th:onclick="">Cadastrar time</button>
             <table class="table" id="studentTeamList" name="studentTeamList">
                 <thead>
                 <th>#</th>
                 <th>Nome</th>
                 <th>Curso</th>
                 <th>Ação</th>
                 </thead>
                 <tbody>

                 </tbody>

             </table>
         </div>
         <div class="col">
            <h2>Lista de Alunos</h2>
             <div class="row">
                 <div class="col">
                     <labe>Nome: </labe>
                     <label> <input type="text"> </label>
                     <button>Buscar </button>
                     <table class="table">
                         <thead>
                         <th>Nome</th>
                         <th>Curso</th>
                         <th>Ação</th>
                         </thead>
                         <tbody>
                         <tr th:each="student : ${studentList}">
                             <td th:text="${student.getName()}"></td>
                             <td th:text="${student.getCourse()}"></td>
                             <td><a th:onclick="table([[${student.getName()}]],[[${student.getCourse()}]])">Adicionar</a></td>
                         </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
        </div>
    </div>
</body>

<script>
    function addAluno(nome, curso, teamId){
        console.log(nome,curso,teamId);
        $.ajax({
           method: "POST",
            url: "/t1/teams/participant?teamId="+teamId,
            data: JSON.stringify({nome: nome, curso: curso }),
            contentType: 'application/json'
        })
    }
</script>
<script>
    function table(nome,curso){
        console.log('fun')
        var table = $("#studentTeamList");
        table.append('<tr>'+
                     '<td>'+nome+'</td>' +
                     '<td>'+curso+'</td>' +
                    ''
                    +'</tr>')
    }
</script>


</html>