<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div id="container" class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Inicial</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Lista de Equipes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/team/create">Criar Equipe</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <tr class="row"> <h3>Adicionar integrante</h3></tr>
            </div>
            <tr class="row"> <label>CPF: </label><input id="cpf" type="text" size="13"> <button onclick="addAluno(cpf)" >Adicionar</button></tr>
            <h1 align="center">Criar Equipe</h1>
            <div id="formEquipe"></div>
            <h2>Lista Integrantes</h2>

                <table id="formTable" class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Curso</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                </nav>
                    <tr class="row"> <label>Equipe: </label><input id="teamName" type="text" size="10"> <button onclick="submitTeam()">Cadastrar</button></tr>
        </div>
        </div>

    </body>
    <script>
        function addAluno(name){
            console.log(jQuery("#cpf").val());
            var cpf = jQuery("#cpf").val()
            $.ajax({
                type: 'GET',
                url: 'http://localhost:8080/t1/teams/participant/'+cpf,
                dataType: 'json',
                contentType: 'application/json',
                success: function(data) {
                    var row = '<tr><td class="name" id="name" >'+data.name+'<td>'+'<td>'+data.course+'</td>'+'<td class="tdCpf" id="tdCpf">'+data.cpf+'</td></tr>';
                    $("#formTable").append(row)
                }
            });
        }
        function submitTeam(){
            console.log('Submit Team')
            var cpfs = []
            var name = jQuery("#teamName").val();
            $('.name').each(function() {
                var cellText = $(this).html();
                console.log(cellText)
                cpfs.push({
                    name:cellText
                })
            });
            console.log(JSON.stringify(cpfs));
            console.log(name)
            $.ajax({
                type: 'POST',
                url: 'http://localhost:8080/t1/teams/team/'+name,
                dataType: 'json',
                data: JSON.stringify(cpfs),
                contentType: 'application/json',
                success: function(data) {
                    alert('Time criado com sucesso!');
                    window.location.href='http://localhost:8080/team/'+data.teamId
                }
            });
        }
    </script>
</html>