<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div id="container" class="container">
    <h1 align="center">Editar Equipe</h1>
    <h2>Avaliação</h2>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Trabalho</th>
            <th scope="col">Processo</th>
            <th scope="col">Inovação</th>
            <th scope="col">Pitch</th>
            <th scope="col">Ação</a></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${teamReview.working}"></td>
            <td th:text="${teamReview.process}"></td>
            <td th:text="${teamReview.innovation}"></td>
            <td th:text="${teamReview.process}"></td>
            <td><a th:href="@{/team/review/{teamId}(teamId=${team.teamId})}">Editar</a></td>
        </tr>
        </tbody>


    </table>
    <h2>Integrantes</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Curso</th>
            <th scope="col">Ação</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="student : ${team.students}">
            <tr>
                <td th:text="${student.cpf}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.course}"></td>
                <td><a href="/">Editar</a></td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>